fastapi
uvicorn[standard]
python-multipart
langchain
langchain-community
langchain-chroma
langchain-text-splitters
pypdf
pandas
pyyaml
dashscope
pymupdf
rapidocr_onnxruntime
email-validator
SQLAlchemy
langchain-milvus
pymilvus
